<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
  {% if request.user.is_authenticated %}
    <h3>Добро пожаловать на сайт {{ request.user.first_name }}</h3>
    <p>День рождения: {{ request.user.profile.date_of_birth }}</p>
    <p>Город: {{ request.user.profile.city }}</p>
    <p>Карта скидок: {{ request.user.profile.discount_card }}</p>
    <p>Телефон: {{ request.user.profile.phone_number }}</p>
  {% else %}
    <h3>Вы неавторизированны на нашем сайте.</h3>
    <a href="{% url 'login' %}">Войти</a>
  {% endif %}
  <h2>Я - гланая страница</h2>
</body>
</html>